---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p class="research-legend"><sup>†</sup> Co-first authors. <sup>*</sup> Corresponding authors.</p>

<ul class="research-list">
{% for post in site.publications reversed %}
  {% include publication-line.html %}
{% endfor %}
</ul>

